:root{
    --space : 10px;
    --blur : 0px;
    --base-color:#FFFF00;
}

body{
    margin:auto;
    display:block;
    align-items: center;
}

img{
    margin-top: 2rem;;
    display: block;
    background-color: var(--base-color);
    filter:blur(var(--blur));
    padding: var(--space);
}

.hl{
    color: var(--base-color);
  }